In [1]:
import pandas as pd
income_test = pd.read_csv("data/ad_placement/census-income-test.csv", header=None)
income_test.columns= ['age', 'class_of_worker', 'industry_recode','occupation_recode', 'education', 'wage_per_hour', \
                      'enroll_in_ed', 'marital', 'industry_cd', 'occupation_cd', 'race', 'hispanic_origin', 'sex', \
                      'labor_union', 'reason_unemployed', 'employ_stat', 'capital_gains', 'capital_losses', 'dividends', \
                      'tax_filer', 'region_prev_resid', 'state_prev_resid', 'household_stat','household_summary', 'weight',\
                      'change_in_msa', 'change_in_reg', 'move_within_reg', 'live_here_before', 'prev_resid_sunbelt',\
                      'num_person_worked', 'under_18', 'birth_country_dad', 'birth_country_mom', 'birth_country_self', \
                      'citizenship', 'owner_self_employed', 'veterans_admin', 'veterans_benefits', 'weekes_worked_year', 'year', 'target']

In [2]:
#for i in range(42):
#    print len(income_test.iloc[:,i].value_counts())
income_train = pd.read_csv("data/ad_placement/census-income.csv", header=None)
income_train.columns = income_test.columns
print income_train[:10].head()

   age                  class_of_worker  industry_recode  occupation_recode  \
0   73                  Not in universe                0                  0
1   58   Self-employed-not incorporated                4                 34
2   18                  Not in universe                0                  0
3    9                  Not in universe                0                  0
4   10                  Not in universe                0                  0

                     education  wage_per_hour      enroll_in_ed  \
0         High school graduate              0   Not in universe
1   Some college but no degree              0   Not in universe
2                   10th grade              0       High school
3                     Children              0   Not in universe
4                     Children              0   Not in universe

          marital                   industry_cd  \
0         Widowed   Not in universe or children
1        Divorced                  Construction
2   Never married   Not in universe or children
3   Never married   Not in universe or children
4   Never married   Not in universe or children

                          occupation_cd    ...     birth_country_dad  \
0                       Not in universe    ...         United-States
1   Precision production craft & repair    ...         United-States
2                       Not in universe    ...               Vietnam
3                       Not in universe    ...         United-States
4                       Not in universe    ...         United-States

  birth_country_mom birth_country_self                           citizenship  \
0     United-States      United-States     Native- Born in the United States
1     United-States      United-States     Native- Born in the United States
2           Vietnam            Vietnam   Foreign born- Not a citizen of U S
3     United-States      United-States     Native- Born in the United States
4     United-States      United-States     Native- Born in the United States

  owner_self_employed    veterans_admin  veterans_benefits  \
0                   0   Not in universe                  2
1                   0   Not in universe                  2
2                   0   Not in universe                  2
3                   0   Not in universe                  0
4                   0   Not in universe                  0

   weekes_worked_year  year     target
0                   0    95   - 50000.
1                  52    94   - 50000.
2                   0    95   - 50000.
3                   0    94   - 50000.
4                   0    94   - 50000.

[5 rows x 42 columns]

In [43]:
sum(income_train.weight)

347245892.47001034

In [3]:
print income_train.target.value_counts()/sum(income_train.target.value_counts())
print income_train.shape

 - 50000.    0.937942
 50000+.     0.062058
dtype: float64
(199523, 42)

In [5]:
income_train['tgt_bin'] = [1 if x.strip() == '- 50000.' else 0 if x.strip() == '50000+.' else -1 for x in income_train.target]
income_train.tgt_bin.value_counts()

1    187141
0     12382
dtype: int64

In [6]:
print income_train.drop_duplicates().shape
#income_train.dtypes

(196294, 43)

In [7]:
income_cat_train = income_train.select_dtypes(['object'])

In [8]:
income_cat_train.head()

,class_of_worker,education,enroll_in_ed,marital,industry_cd,occupation_cd,race,hispanic_origin,sex,labor_union,...,move_within_reg,live_here_before,prev_resid_sunbelt,under_18,birth_country_dad,birth_country_mom,birth_country_self,citizenship,veterans_admin,target
0,Not in universe,High school graduate,Not in universe,Widowed,Not in universe or children,Not in universe,White,All other,Female,Not in universe,...,?,Not in universe under 1 year old,?,Not in universe,United-States,United-States,United-States,Native- Born in the United States,Not in universe,- 50000.
1,Self-employed-not incorporated,Some college but no degree,Not in universe,Divorced,Construction,Precision production craft & repair,White,All other,Male,Not in universe,...,Same county,No,Yes,Not in universe,United-States,United-States,United-States,Native- Born in the United States,Not in universe,- 50000.
2,Not in universe,10th grade,High school,Never married,Not in universe or children,Not in universe,Asian or Pacific Islander,All other,Female,Not in universe,...,?,Not in universe under 1 year old,?,Not in universe,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,Not in universe,- 50000.
3,Not in universe,Children,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,...,Nonmover,Yes,Not in universe,Both parents present,United-States,United-States,United-States,Native- Born in the United States,Not in universe,- 50000.
4,Not in universe,Children,Not in universe,Never married,Not in universe or children,Not in universe,White,All other,Female,Not in universe,...,Nonmover,Yes,Not in universe,Both parents present,United-States,United-States,United-States,Native- Born in the United States,Not in universe,- 50000.

In [9]:
for i in income_cat_train.columns:
    temp_q = sum([1 if x.strip() == '?' else 0 for x in income_cat_train[i]])
    if temp_q > 0:
        print i, float(temp_q)/len(income_cat_train)

print 'not in universe'

for i in income_cat_train.columns:
    temp_na = sum([1 if 'Not in universe' in x.strip() else 0 for x in income_cat_train[i]])
    if temp_na > 0:
        print i, float(temp_na)/len(income_cat_train)

state_prev_resid 0.00354846308446
change_in_msa 0.499671717045
change_in_reg 0.499671717045
move_within_reg 0.499671717045
prev_resid_sunbelt 0.499671717045
birth_country_dad 0.0336452439067
birth_country_mom 0.0306681435223
birth_country_self 0.0170055582564
not in universe
class_of_worker 0.502423279522
enroll_in_ed 0.936949624855
industry_cd 0.504623527112
occupation_cd 0.504623527112
labor_union 0.904452118302
reason_unemployed 0.9695774422
region_prev_resid 0.920946457301
state_prev_resid 0.920946457301
change_in_msa 0.00759812151982
change_in_reg 0.00759812151982
move_within_reg 0.00759812151982
live_here_before 0.507269838565
prev_resid_sunbelt 0.421274740256
under_18 0.722884078527
veterans_admin 0.990056284238

In [17]:
#'birth_country_dad_cd' - US/Americas/Europe/Asia/?
#'birth_country_mom_cd' - US/Americas/Europe/Asia/?
#'birth_country_self_cd' - US/Americas/Europe/Asia/?
# 'year' - 94/95 (Don't use)
# 'citizenship' - native vs foreign
# 'veterans_admin' - 99% not in universe (Don't use)
# 'veterans_benefits' - 2 (150130)/ 0 (47409)/ 1(1984)
# 'owner_self_employed - 0 (180672)/ 2 (16153)/ 1 (2698) - 91% have 0 not owner neither self-employed
# 'weekes_worked_year' - binned as 0/ 1-48/ 49-52

US = ['United-States', 'Puerto-Rico', 'Canada', 'Outlying-U S (Guam USVI etc)']
Americas = ['Mexico', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama', 'El-Salvador', \
            'Cuba', 'Haiti', 'Dominican-Republic', 'Jamaica', 'Trinadad&Tobago', \
            'Columbia', 'Ecuador', 'Peru']
Europe = ['Germany', 'England', 'Ireland', 'Italy', 'Portugal', 'Hungary', 'Greece', 'Poland', 'Scotland', 'France', \
          'Holand-Netherlands',  'Yugoslavia']
Asias = ['Philippines', 'Vietnam', 'Japan', 'China', 'South Korea', 'India', 'Taiwan',  'Iran', 'Cambodia', \
         'Laos', 'Thailand', 'Hong Kong']

income_train['birth_country_mom_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in income_train.birth_country_mom]

income_train['birth_country_dad_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in income_train.birth_country_dad]

income_train['parents_country_cd'] = ["US" if x == "US" and y == "US" else "US-Foreign" \
                                      if (x == "US" and y != "US") or (x != "US" and y == "US") else "Foreign"\
                                      for x, y in zip(income_train.birth_country_mom_cd, income_train.birth_country_dad_cd)]

income_train['birth_country_self_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in income_train.birth_country_self]
income_train['citizenship_cd'] = ['Native' if x.strip()[:6] == 'Native' else 'Foreign' if x.strip()[:7] == 'Foreign'\
                                  else '?' for x in income_train.citizenship]
income_train['weeks_worked_bin'] = pd.Series([0 if x == 0 else 1 if x <= 48 else 2 for x in income_train.weekes_worked_year])

ft_proxy = [40 if x.strip() in ["Full-time schedules", "PT for econ reasons usually FT", \
            "PT for non-econ reasons usually FT", "Children or Armed Forces"] else 20 for x in income_train.employ_stat]
income_train['work_time_proxy'] = [x*y for x, y in zip(ft_proxy, income_train.weekes_worked_year)]

income_train.work_time_proxy.describe()
# birth_country_dad_cd, parents_country_cd, citizenship_cd, weeks_worked_bin

count    199523.000000
mean        903.951224
std         969.402343
min           0.000000
25%           0.000000
50%         240.000000
75%        2080.000000
max        2080.000000
Name: work_time_proxy, dtype: float64

In [4]:
income_train[income_train.birth_country_mom_cd == "?"].birth_country_mom.value_counts()

 ?    6119
dtype: int64

In [6]:
income_train[income_train.birth_country_dad_cd == "?"].birth_country_dad.value_counts()

 ?    6713
dtype: int64

In [11]:
income_train['parents_country_cd'] = ["US" if x == "US" and y == "US" else "US-Foreign" \
                                      if (x == "US" and y != "US") or (x != "US" and y == "US") else "Foreign"\
                                      for x, y in zip(income_train.birth_country_mom_cd, income_train.birth_country_dad_cd)]

In [12]:
print pd.crosstab(income_train.birth_country_mom_cd, income_train.birth_country_dad_cd)

birth_country_dad_cd     ?     A     Am     E      US
birth_country_mom_cd
?                     4879    69    102   243     826
A                       58  4476     43    20     488
Am                     171    60  14692    78    1341
E                      271    58     52  5313    1723
US                    1334   301   1750  2171  159004

In [13]:
income_train['birth_country_self_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in income_train.birth_country_self]
income_train.birth_country_self_cd.value_counts()

US    179208
Am     10291
A       3703
?       3393
E       2928
dtype: int64

In [10]:
income_train['citizenship_cd'] = ['Native' if x.strip()[:6] == 'Native' else 'Foreign' if x.strip()[:7] == 'Foreign'\
                                  else '?' for x in income_train.citizenship]

In [14]:
income_train.owner_self_employed.value_counts()/len(income_train)

0    0.905520
2    0.080958
1    0.013522
dtype: float64

In [15]:
income_train.veterans_admin.value_counts()/len(income_train)

 Not in universe    0.990056
 No                 0.007984
 Yes                0.001960
dtype: float64

In [16]:
income_train.veterans_benefits.value_counts()/len(income_train)

2    0.752445
0    0.237612
1    0.009944
dtype: float64

In [17]:
income_train['weeks_worked_bin'] = pd.Series([0 if x == 0 else 1 if x <= 48 else 2 for x in income_train.weekes_worked_year])

In [18]:
print income_train.groupby('weeks_worked_bin').weekes_worked_year.value_counts()
print income_train.

weeks_worked_bin
0                 0     95983
1                 40     2790
                  26     2268
                  48     1806
                  12     1780
                  30     1378
                  20     1330
                  8      1126
                  36     1108
                  16      945
                  32      883
                  44      845
                  24      767
                  4       757
                  46      708
                  35      704
                  10      694
                  45      669
                  6       646
                  39      602
                  42      573
                  28      568
                  13      496
                  1       464
                  2       458
                  25      457
                  3       417
                  38      380
                  43      374
                  22      370
                  15      353
                  17      331
                  5       309
                  47      278
                  18      272
                  14      257
                  9       239
                  34      230
                  7       152
                  21      135
                  37      123
                  41       88
                  33       81
                  11       78
                  27       76
                  23       67
                  29       63
                  31       51
                  19       48
2                 52    70314
                  50     2304
                  51      819
                  49      509
dtype: int64
0    95983
2    73946
1    29594
dtype: int64

In [20]:
pd.crosstab(income_train.hispanic_origin, income_train.birth_country_dad_cd)

birth_country_dad_cd           ?     A    Am     E      US
hispanic_origin
 All other                  5621  4827  1690  7622  152147
 Central or South American   617    18  2914    34     312
 Chicano                       2     0    86     0     216
 Cuban                        88     6   967    10      55
 Do not know                   4     0     0     3     299
 Mexican (Mexicano)           15    21  6327    27     844
 Mexican-American             38    19  3531    22    4469
 NA                           30    32    55    35     722
 Other Spanish               180    33   926    41    1305
 Puerto Rican                118     8   143    31    3013

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X = income_train['birth_country_mom_cd', u'birth_country_dad_cd', 'parents_country_cd', 'birth_country_self_cd', \'citizenship_cd','weeks_worked_bin'

In [ ]:
ft_proxy = [40 if x.strip() in ["Full-time schedules", "PT for econ reasons usually FT", \
            "PT for non-econ reasons usually FT", "Children or Armed Forces"] else 20 for x in income_train.employ_stat]
pd.crosstab(ft_proxy, income_train.employ_stat)

In [28]:
income_train.change_in_msa.value_counts()

 ?                   99696
 Nonmover            82538
 MSA to MSA          10601
 NonMSA to nonMSA     2811
 Not in universe      1516
 MSA to nonMSA         790
 NonMSA to MSA         615
 Abroad to MSA         453
 Not identifiable      430
 Abroad to nonMSA       73
dtype: int64